html,
body {
  margin: 0;
  padding: 0;
  background-color:  #eaeef2;
  position: relative;
  z-index: 0;
  overflow-x: clip;
  overflow-y: scroll;
}

.mainPage {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 100%;
  min-height: 100vh;
}

.sidePanel {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}


#filterPanel {
  position: fixed;
  top: 0;
  right: 0;
  width: 26vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  color: rgb(34, 33, 33);
  padding: 20px;
  box-sizing: border-box;
  z-index: 999;
  overflow-y: auto;
}

#filterPanel h3 {
  margin-top: 20px;
  font-size: 20px;
}

#filterPanel input {
  width: 100%;
  padding: 14px 20px;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  border: 2px solid rgb(100, 98, 98);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
  transition: box-shadow 0.2s ease;
  box-sizing: border-box;
}

#filterPanel input:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.buttonManagerAZ{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.buttonManagerAZ button {
  flex: 1;
  padding: 12px 20px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: rgb(66, 65, 65);
  border: 2px solid rgb(100, 98, 98);
  border-radius: 10px;
  transition: background-color 0.2s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonManagerAZ button:hover {
  background-color: #d0d2d4;
}

.buttonManagerAZ button.on{
  background-color: rgb(100, 98, 98);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonManagerIngredients{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.buttonManagerIngredients button {
  flex: 1;
  padding: 12px 20px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: rgb(66, 65, 65);
  border: 2px solid rgb(100, 98, 98);
  border-radius: 10px;
  transition: background-color 0.2s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonManagerIngredients button:hover {
  background-color: #d0d2d4;
}


.buttonManagerIngredients button.on{
  background-color: rgb(100, 98, 98);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}



#card-container {
  margin-left: 26vw;  
  margin-right: 26vw; 
  width: 48vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.card {
  width: 200px;
  background: #ffffff; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);   
  border-radius: 15px;
  margin: 5px;
  font-family: 'Inter', serif;
  color: 	rgb(34, 33, 33);
  transition: transform 0.3s ease;
}
.card-content {
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Inter', serif;
  padding-top: 70px; 
  padding-bottom: 10px;
}

.card-content h2 {
  font-size: 15px;
  text-align: center;
  min-height: 36px;
  padding: 0 12px;
  padding-top: 15px;
}

.card img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card:hover{
  transform: scale(1.1);
}

#ingredientsPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 26.5vw;
  height: 100vh;
  padding: 20px;
  padding-right: 30px;
  background-color: white;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  font-size: 18px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 10001;
}

#ingredientsPanel.hidden {
  transform: translateX(-100%);
}

#ingredientsPanel h3 {
  font-size: 28px;
  margin-top: 0;
}

#instructionsList {
  font-size: 18px;
}

#instructionsList li {
  padding: 10px 0;
}
#instructionsList li{
  padding: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  background: none;
  border: none;
  color: #444;
  cursor: pointer;
  z-index: 1001;
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: red;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  text-align: center;
  background-color: #666;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}
